{% extends 'base.html' %}
{% block title %}
    Booking an Appointment Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Booking and Appointment in {{ code}} Department
            </h1>
            <br>

            {{ form.client_name.label() }}
            {{ form.client_name(class="form-control", placeholder="Client Name") }}

            {{ form.client_phone.label() }}
            {{ form.client_phone(class="form-control", placeholder="Client Phone") }}

            {{ form.start_time.label() }}
            {{ form.start_time(class="form-control", value=start_time) }}

            {{ form.end_time.label() }}
            {{ form.end_time(class="form-control", value=end_time) }}

            {{ form.category.label() }}
            {{ form.category(class="form-control", placeholder="Category") }}

            {{ form.message.label() }}
            {{ form.message(class="form-control", placeholder="Message") }}

            <br>

            

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>

        <br>

        <a class="btn btn-primary" href="{{ url_for('details_page', code=code) }}">Back to Appointments Details</a>

    </div>
</body>
{% endblock %}